.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
}

.sidemenu {
    flex: 20%;
    height: 100%;
    background-color: #7A75F7;
}

/* .page1 {
    flex: 80%;
    height: 100%;
    background-color: #ECECEC;
} */

.main_total_area {
    flex: 80%;
    height: 100%;
    background-color: #ECECEC;

}

.middle_box {
    margin: 20px 30px 20px 30px;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    color: #000;
}

.middle_box .title_box {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    flex: 100%;
}

.middle_box .form_box {
    font-size: 20px;
    font-weight: bold;
    flex: 80%;
    margin: 20px 0 0 0;
}

.middle_box .input_docu {
    /* text-align: middle; */
    font-size: 18px;
    /* width: 70%; */
    margin: auto;
    display: flex;
    padding-bottom: 10px;
}

.middle_box .input_docu .title {
    width: 20%;
    padding-top: 5px;
}

.middle_box .input_docu input[type="text"] {
    width: 85%;
    height: 25px;
}

.middle_box .button_box {
    flex: 10%;
    padding: 50px 0 0 0;
}

.middle_box .button_box button {
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    background-color: #7A75F7;
    margin: 15px 0 15px 40px;
    border-radius: 12px;
    font-weight: bold;
}

.side_ul {
    font-size: 20px;
    padding: 20px 0 0 70px;
    text-align: left;
}

.side_ul .list_obj {
    padding: 5px 0;
    font-weight: bold;
    list-style: none;
}



.side_ul .list_obj label {
    cursor: pointer;
}

.side_ul .list_obj input[type="checkbox"] {
    display: none;

}

.side_ul .obj5 #check-btn5:checked~.side_ul_obj5 {
    display: block;
}

.side_ul_obj5 {
    font-size: 15px;
    padding: 5px 0 0 0px;
    text-align: left;
    display: none;
}

.side_ul_obj5 .list_obj_obj5 {
    padding: 5px 0 0 0px;
}





.side_ul .obj2 #check-btn2:checked~.side_ul_obj2 {
    display: block;
}

.side_ul_obj2 {
    font-size: 15px;
    padding: 5px 0 0 0px;
    text-align: left;
    display: none;
}

.side_ul_obj2 .list_obj_obj2 {
    padding: 5px 0 0 0px;
}