@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  -webkit-touch-callout: none;
}

html,
body {
  height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}